.modal {
    display: none;
    position: absolute;
    background: rgba(128, 128, 128, 0.5);
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.modal.modal--opened {
    display: block;
}

.modal-container {
    height: 100%;
    padding: 20px;
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
