.search {
    cursor: pointer;
    border-radius: 5px;
}

input:focus {
    border-color: cornflowerblue;
}

.search-icon {
    position: relative;
    background: gray;
    right: 2px;
    top: 2px;
}