.modal {
  display: none;
  position: absolute;
  background: rgba(128, 128, 128, 0.5);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;

  &.modal--opened {
    display: block;
  }

  .modal-container {
    padding: 20px;
    background: beige;
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    border-radius: 6px;
    border: 1px solid #808080;
  }

  .modal-close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
  }

  .modal-close-container {
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: #e7e7e7;
    border-radius: 10px;
    cursor: pointer;
  }

  .close-icon {
    width: 15px;
    height: 15px;
  }
}
