.search {
  cursor: pointer;
  border-radius: 5px;

  .search-icon {
    position: absolute;
    right: 6px;
    top: 6px;
  }
}

input {
  height: 20px;

  &:focus {
    border-color: cornflowerblue;
  }
}
