.search {
  .todo-list {
    padding: 0;
    cursor: default;
  }

  .search-wrap {
    text-align: right;
    top: 2px;
    right: 5px;
    position: relative;
  }

  .no-results {
    text-align: center;
  }
}
